# Ignore traces
traces/

# Ignore simulation outputs
results/

# Ignore generated binaries
bin/
obj/
predictor_test
optgen_test
rrip_test

# macOS
.DS_Store__pycache__/
vcpkg_installed/
*.o

__pycache__/
.csconfig/
*.o
.DS_Store